body {
  background: #f2f2f2;
  padding: 0;
  margin: 0;
}
/* Header */
nav {
  /* position: fixed; */
  box-shadow: none;
  outline: 0;
}
.header-link {
  /* background: #0d0d0d; */
  text-decoration-line: none;
  /* color:#000; */
  
}
.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(41, 56, 41);
  width: 100%;
  height: 5px;
  box-sizing: content-box;
}



/* content */
.content {
  margin-top: 70px;
}

/* Sidenav */
.Sidenav {
  background: #fff;
  height: 90.8vh;
  /* border-right: 1px solid #0d0d0d; */
  box-shadow: 1px 3px 5px 3px rgba(0,0,0,0.6);
  position: fixed;
  left: 0;
  width: 300px;
  /* right: 80%; */

}

.nav-link {
  text-decoration: none;
  color:#000;
}
.nav-link:hover {
  color:#000;
}

.nav-item:hover {
  background:#f6f6f6;
}

/* Review  */
.review-header {
  padding: 10px;
  margin-top: 20px;
}
.review-form {
  /* position: relative; */
  /* margin: auto 0; */
  margin-top: 2rem;
}
.review-input, .review-input:focus {
  border: none;
  border: 2px solid #0d0d0d;
  outline: 0;
  box-shadow: none;
}
